<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pink</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<style>
		@media screen and (max-width: 600px) {
			body {
				font-size: 75%;
			}
			h2{
				font-size: 150%;
			}
			h3 {
				font-size: 150%;
			}
			h4{
				font-size: 150%;
			}
			h5 {
				font-size: 150%;
			}
			.h3 {
				font-size: 150%;
			}
			.card {
				min-height: 150px;
			}
			#bottom-content {
				padding-top:0;
			}
		}
	</style>
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand navbar-light bg-dark sticky-top">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/"
							style="font-size: 120%; font-weight: 600; color:lightcoral; font-family:Coronetscript, cursive;">Pink<span
								class="sr-only">(current)</span></a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/"
							style="color:white; border-right:1px solid white; height:100%">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/dom_vio_sta"
							style="color:white; border-right:1px solid white">Understand Violence</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="/social_help" style="color:white;">
							Help & Support
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!--- Image -->
	<img src="../static/image/homepageimage.png" class="img-fluid" alt="Responsive image" style="width:100%">
	<div class="container marketing card mb-3" id="middle-content" style="border:hidden">
		<div class="card-body" style="padding-bottom: 0px">
			<h2 class="card-title text-center" style="color:black">Help Others, Help Themselves</h2>
			<p>Pink is a domestic violence awareness and support platform; We help provide victims a support network for
				when they are willing to make a change.</p>
		</div>
	</div>

	<!--Three main functionlities are here-->
	<div class="container marketing" style="padding-top: 10px">

		<!-- two columns of text below the carousel -->
		<div class="row" id="bottom-content">
			<div class="row mb-2">
				<div class="col-md-6">
					<div
						class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col p-4 d-flex flex-column position-static" style="min-height: 280px">
							<strong class="d-inline-block mb-2  h3" style="color: navy">Understand Violence</strong>
							<hr>
							<p class="mb-auto" style="text-align: justify"> Based on our research we have created
								innovative resources for those who want to support victims of violence. These facts and
								figures on family violence and affected members demonstrate the impact of violence in
								Victoria.</p>
							<hr>
							<a href="/dom_vio_sta" class="stretched-link">Click Here</a>
						</div>

					</div>
				</div>
				<div class="col-md-6">
					<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
						style="min-height: 280px">
						<div class="col p-4 d-flex flex-column position-static">
							<strong class="d-inline-block mb-2 h3" style="color:navy">Help & Support</strong>
							<hr>
							<p class="mb-auto" style="text-align: justify"> Your support can make a huge difference.
								What can you do to help the victim? Find local services near you. </p>
							<hr>
							<a href="/social_help" class="stretched-link">Click Here</a>
						</div>

					</div>
				</div>
			</div>
		</div><!-- /.row -->

	</div><!-- /.container -->
	<!--Three Functionalities here-->
	<hr class="featurette-divider">


	<!--- Footer -->
	<footer class="container">
		<p>&copy; 2017-2019 Company, Inc. &middot;</p>
	</footer>



</body>

</html>