<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pink</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <script type="text/javascript" src="../static/js/social_help.js"></script>

    <!-- Style for Mobile model-->
    <style>
        @media screen and (max-width: 600px) {
            body {
                font-size: 75%;
            }

            h1 {
                font-size: 200%;
            }

            h2 {
                font-size: 150%;
            }

            h3 {
                font-size: 150%;
            }

            h4 {
                font-size: 150%;
            }

            h5 {
                font-size: 150%;
            }

            .h3 {
                font-size: 150%;
            }

            .card {
                min-height: 150px;
            }

            #bottom-content {
                padding-top: 0;
            }
        }
    </style>
</head>

<body>
    <div>
        <!-- Navigation -->
        <nav class="navbar navbar-expand navbar-light bg-dark sticky-top">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/"
                                style="font-size: 120%; font-weight: 600; color:lightcoral; font-family:Coronetscript, cursive;">Pink<span
                                    class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/"
                                style="color:white; border-right:1px solid white; height:100%">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dom_vio_sta"
                                style="color:white; border-right:1px solid white">Understand Violence</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="/social_help" style="color:white;">
                                Help & Support
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Ribbon area-->
        <div class="container-fluid" style="background-color: green; width: 100%; min-height: 200px;">
            <div class="card text-white d-flex align-itms-center"
                style="background-color: green; width: 100%; min-height: 200px; border:orange">

                <div style="margin-top:auto; margin-bottom:auto">
                    <h1 class="text-center">Help & Support</h1>
                    <p class="text-center">
                        Please remember that there always are people support you
                    </p>
                </div>
            </div>
        </div>

        <!--introduction-->
        <div class="container marketing card mb-3" style="border: hidden; padding-left: 2.5%; padding-right: 4.5%">
            <div class="card-body">
                <nav aria-label="breadcrumb" style="padding:0; margin:0; background: white">
                    <ol class="breadcrumb" style="background: white; padding:0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Help & Support</li>
                    </ol>
                </nav>
                <h5 class="card-title h3">Social Help & Support</h5>
                <p>
                    Click on the map below to find support services in your local government area.
                </p>
            </div>
        </div>

        <!--Data visulisation-->
        <div class="container marketing card mb-3" style="padding-left:3%; border: hidden">
            <div class='tableauPlaceholder' id='viz1554622908661' style='position: relative'><noscript><a href='#'><img
                            alt=' '
                            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ma&#47;ma24HospitalandReliefProvidersVIC&#47;VICHosptReliefProviders&#47;1_rss.png'
                            style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='ma24HospitalandReliefProvidersVIC&#47;VICHosptReliefProviders' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ma&#47;ma24HospitalandReliefProvidersVIC&#47;VICHosptReliefProviders&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='filter' value='publish=yes' /></object></div>
            <script
                type='text/javascript'>                    var divElement = document.getElementById('viz1554622908661'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = '827px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = '827px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '927px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
        </div>

        <!--Footer-->
        <hr class="featurette-divider">

    </div>
    <!--- Footer -->
    <footer class="container">
        <p>&copy; 2017-2019 Company, Inc. &middot;</p>
    </footer>



</body>

</html>